<!DOCTYPE html>
<html lang="en">
 <head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  {% if post is defined %}
  <meta http-equiv="refresh" content="1; URL='https://caci.tech/{{ post.category }}/{{ post.title|lower|replace(' ', '-') }}'"> 
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ seo.description }}">
  <meta name="author" content="CACI Network Services">
  <meta name="robots" content="noindex,nofollow">
  <!-- Picnic CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" type="text/css">
  <link rel="stylesheet" href="/site.css" type="text/css">
  <!-- FontAwesome Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- JQuery JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% if post is defined %}
  <!-- Migration Canonical -->
  <link rel="canonical" href="https://caci.tech/{{ post.category }}/{{ post.title|lower|replace(' ', '-') }}">
  {% endif %}
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <!-- Open Graph -->
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="{{ seo.type|lower }}">
  <meta property="og:title" content="{{ seo.title }}">
  <meta property="og:description" content="{{ seo.description }}">
  <meta property="og:image" content="{{ seo.image }}">
  <meta property="og:url" content="{{ seo.url }}">
  <meta property="og:site_name" content="{{ seo.name }}">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ seo.title }}">
  <meta name="twitter:url" content="{{ seo.url }}">
  <meta name="twitter:image" content="{{ seo.image }}">
  <meta name="twitter:description" content="{{ seo.description }}">
  <meta name="twitter:site" content="@caci_ns">
  <meta name="twitter:creator" content="@caci_ns">
  <!-- JSON-LD Schema -->
  {% if seo.type == 'Article' %}
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"{{ seo.type }}","description":"{{ seo.description }}","headline":"{{ seo.title }}","name":"{{ seo.title }} - {{ seo.name }}","url":"{{ seo.url }}"}</script>
  {% else %}
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"{{ seo.type }}","description":"{{ seo.description }}","headline":"{{ seo.title }}","name":"{{ seo.name }}","url":"{{ seo.url }}"}</script>
  {% endif %}
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMSMNQKWSJ"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XMSMNQKWSJ');
  </script>
 </head>
 <body>
  <nav class="transparent">
   <a href="/" class="brand"><span>CACI Network Services</span></a><input id="bmenu" type="checkbox" class="show">
   <label for="bmenu" class="burger toggle pseudo button">menu</label>
   <div class="menu">
    <a href="https://github.com/CACI-NS" target="_blank" class="pseudo button">GitHub</a>
    <a href="https://www.linkedin.com/company/caci-ltd/" target="_blank" class="pseudo button">LinkedIn</a>
    <a href="/about/" class="pseudo button">About</a>
    <a href="/categories/" class="pseudo button">Categories</a>
    <a href="https://cacins.careers" target="_blank" class="button">Careers</a>
   </div>
  </nav>
  <main>
   {% block content %}
   {% endblock %}
  </main>
  <footer class="footer">
   <div class="flex one two-500 three-800">
    <div>
     <h4>LOCATIONS</h4>
     <ul>
      <li><a href="https://goo.gl/maps/ackM7R4rcRLi1jZt5">Kensington</a></li>
      <li><a href="https://goo.gl/maps/m2HtWPFPsLzbQY3H9">Bristol</a></li>
      <li><a href="https://goo.gl/maps/oWHbn282epon5HVy5">Cardiff</a></li>
      <li><a href="https://goo.gl/maps/oSjybin5oxbctRpZ8">Cheltenham</a></li>
      <li><A href="https://goo.gl/maps/UdNyMDvy7nvJ7L3S9">Manchester</a></li>
      <li><a href="https://goo.gl/maps/5gFHCAFgSz9Fmkv1A">Richmond</a></li>
      <li><a href="https://goo.gl/maps/4VpyCh5g8UwELSeCA">York</a></li>
     </ul>
    </div>
    <div>
     <h4>COMPANY</h4>
     <ul>
      <li><a href="https://www.caci.co.uk/legal/">Legal</a></li>
      <li><a href="https://www.caci.co.uk/accessibility/">Accessibility</a></li>
      <li><a href="https://www.caci.co.uk/data-privacy/">Data & Privacy</a></li>
      <li><a href="https://www.caci.co.uk/uk-tax/">UK Tax</a></li>
      <li><a href="https://www.caci.co.uk/environmental-policy/">Environmental Policy</a></li>
      <li><a href="https://www.caci.co.uk/gender-pay-gap/">Gender Pay Gap</a></li>
      <li><a href="https://www.caci.co.uk/modern-slavery/">Modern Slavery</a></li>
      <li><a href="https://www.caci.co.uk/supplier-code-of-conduct/">Supplier Code of Conduct</a></li>
     </ul>
    </div>
    <div>
     <p>&copy; {{ year }} CACI Limited. All rights reserved.<p>
     <p>CACI Limited (Registered number 01649776) is registered in England and Wales with its registered office at CACI House, Avonmore Road, London, W14 8TS.</p>
    </div>
   </div>
  </footer>
<script>
// Picnic CSS Transparent Navigation Bar
var nav = document.querySelector('nav');
function navScroll(){
  var className = 'transparent';
  var top = window.scrollY ? window.scrollY : document.documentElement.scrollTop;
  if (top > 0) {
    nav.classList.remove(className);
    [].forEach.call(document.querySelectorAll('[data-src]'), function(iframe){
      iframe.setAttribute('src', iframe.getAttribute('data-src'));
      iframe.removeAttribute('data-src');
    });
  } else {
    nav.classList.add('transparent');
    nav.classList.add(className);
  }
};
window.onscroll = navScroll;
navScroll();
setTimeout(function(){ nav.classList.remove('loading'); }, 10);

// Open External Links in new browser window
$(document.links).filter(function() {
 return this.hostname != window.location.hostname;
}).attr('target', '_blank');
</script>
 </body>
</html>