   {% extends "base.html" %}
   {% block content %}
   <header class="hero">
    <div class="content">
     <h1>Categories</h1>
    </div>
   </header>
   <div id="content" class="visual flex one">
    {% for cat in categories %}
    <h3>{{ cat|capitalize }}</h3>
    <ul>
     {% for post in posts %}
      {% if post['category'] == cat %}
       <li><a href="/{{ post.category }}/{{ post.slug }}/">{{ post.title }}</a></li>
      {% endif %}
     {% endfor %}
    </ul>
    {% endfor %}
   </div>
   {% endblock %}